//- inlide file
extends /_include/_layout
include /_include/_mixin

append variables
    //- Required
    - var pageTitle= "";
    - var pageDescription= site.description.home;
    - var pageKeywords= site.keywords;
    //- Optional
    - var pageOgpTitle= "site.name";
    - var pageOgpImage= site.ogpImage
    - var pageLang= "ja";
    - var pageOgpType= "website";
    //- Not modified
    - var pageUrl= relativePath;
    - var pageDir= './';
    - var imgDir= '/images/';

    block meta

    block link

    block script

block body
    body.js-drawer.drawer--right.p-home.p-home--search
        +header(pageDir,'home')
        +breadcrumb(
            {pageName: '求人検索', dir: 'search/', next: false}
        )
        .w-page-header
            .b-page-header
                .w-page-title
                    .page-title 求人検索
        main.p-home-content
            block content_error

            section.b-section-lp
                .c-container.op-short
                    .w-section-head-block
                        h2.c-section-title-icon-left
                            .icon: img(src=imgDir + 'icon/icon-title-search.svg',alt='')
                            .title 企業検索
                    .w-section-content-block
                        .w-search-form-wrap
                            form.b-search-form-base
                                .w-search-form-area
                                    .w-layout-section-input
                                        .b-search-form-area
                                            .l-left
                                                .w-form-area-select
                                                    ul.b-list-change-button
                                                        li.list.op-active
                                                            a(href='#todo') 本社所在地
                                                        li.list
                                                            a(href='#todo') 勤務所在地
                                            .l-right
                                                .b-form-input-list
                                                    .b-layout-form-area
                                                        .w-area-selector-select
                                                            .l-column-select
                                                                .l-column-2
                                                                    .w-area-selector
                                                                        .title 地域選択
                                                                        select(name='').selectbox
                                                                            - for (var i = 0; i < 6; i++)
                                                                                option(value=val) 地域名#{i}
                                                                .l-column-2
                                                                    .w-area-selector
                                                                        .title 都道府県選択
                                                                        select(name='').selectbox
                                                                            - for (var i = 0; i < 8; i++)
                                                                                option(value=val) 都道府県名#{i}

                                                        .w-area-selector-check
                                                            .b-button-toggle
                                                                .w-button
                                                                    button.c-button-line.op-mini すべて選択
                                                                    button.c-button-line.op-mini すべて解除
                                                            .l-checkbox
                                                                +form-input-check('北海道','北海道','県名')
                                                                +form-input-check('青森','青森','県名')
                                                                +form-input-check('岩手','岩手','県名')
                                                                +form-input-check('宮城','宮城','県名')
                                                                +form-input-check('秋田','秋田','県名')
                                                                +form-input-check('山形','山形','県名')
                                                                +form-input-check('福島','福島','県名')
                                //-hr.c-line

                                //-.w-search-form-submit
                                    .input(typeof='submit', value='検索').c-button.op-submit 検索

                                .w-search-form-word
                                    +layout-section-input-text('企業名・店舗名検索','text')

                                .w-layout-section-input
                                    .b-form-input-list
                                        .c-form-input-block
                                            .w-tag
                                                //.tag 必須
                                                span.name.op-bold 募集資格
                                        .b-button-toggle
                                            .w-button
                                                button.c-button-line.op-mini すべて選択
                                                button.c-button-line.op-mini すべて解除
                                        .l-checkbox
                                            +form-input-check('募集対象1','2017年度卒業予定者（既卒者含む）','募集')
                                            +form-input-check('募集対象2','2018年度卒業予定者','募集')

                                .w-layout-section-input
                                    .b-form-input-list
                                        .c-form-input-block
                                            .w-tag
                                                //.tag 必須
                                                span.name.op-bold 雇用形態
                                        .b-button-toggle
                                            .w-button
                                                button.c-button-line.op-mini すべて選択
                                                button.c-button-line.op-mini すべて解除
                                        .l-checkbox
                                            each val in ["正社員", "契約社員", "パート・アルバイト", "業務委託・その他"]
                                                +form-input-check(val,val)

                                .w-layout-section-input
                                    .b-form-input-list
                                        .c-form-input-block
                                            .w-tag
                                                //.tag 必須
                                                span.name.op-bold 職種・業種
                                        .b-button-toggle
                                            .w-button
                                                button.c-button-line.op-mini すべて選択
                                                button.c-button-line.op-mini すべて解除
                                        .l-checkbox
                                            each val in ["調剤薬局", "ドラッグストア（調剤併設）", "ドラッグストア（OTCのみ）", "CRO/SMO", "医薬品メーカー（研究開発・生産技術）","医薬品卸（学術・管理薬剤師等）","医薬品メーカー（MR）","病院・クリニック","教育","化学メーカー","化粧品メーカー","食品メーカー","公務員","その他"]
                                                +form-input-check(val,val)
                                .w-search-form-submit
                                    .input(typeof='submit', value='検索').c-button.op-submit 検索
            //- .pg-home-form
            block content_search

        +footer()
        +fixed-bottom-page-sp

