//- inlide file
extends /_include/_layout
include /_include/_mixin

append variables
    //- Required
    - var pageTitle= "";
    - var pageDescription= site.description.home;
    - var pageKeywords= site.keywords;
    //- Optional
    - var pageOgpTitle= "site.name";
    - var pageOgpImage= site.ogpImage
    - var pageLang= "ja";
    - var pageOgpType= "website";
    //- Not modified
    - var pageUrl= relativePath;
    - var pageDir= './';
    - var imgDir= '/images/';


    block meta

    block link

    block script


block body
    body.p-company--area
        .c-layout-full-height
            .p-company-layout
                .l-left
                    +sidebar--company
                .l-right
                    .p-company-content
                        +section-title--company('勤務地登録')
                        form
                            .w-contents
                                .b-nav-area
                                    .w-notes-head
                                        p.c-text-notes 登録したい地域を選択してください。
                                    nav.w-select-list
                                        .b-nav-area-tag
                                            mixin list-tag-area(selector,name)
                                                .area-tag
                                                    span(data-selector=selector).js-tab-area-select.tag #{name}

                                            +list-tag-area('.js-all','All')
                                            +list-tag-area('.js-hokkaido-tohoku','北海道・東北')
                                            +list-tag-area('.js-kanto','関東')
                                            +list-tag-area('.js-chubu','中部')
                                            +list-tag-area('.js-kansai','関西')
                                            +list-tag-area('.js-chugoku-shikoku','中国・四国')
                                            +list-tag-area('.js-kyusyu-okinawa','九州・沖縄')
                                .w-contents-section.op-first
                                    .w-section-title-content--company
                                        +section-title-content--company('勤務地登録')
                                    .w-area--company

                                        mixin area-select-layout-form-area(group,area,add,selector)
                                            div(class='w-area-select js-tab-area-select-item '+selector)
                                                .b-layout-form-area
                                                    .w-area-name
                                                        .title #{group}
                                                    .w-area-group
                                                        .l-column-select
                                                            .l-column-3
                                                                .w-area-selector
                                                                    .title 都道府県選択
                                                                    select(name='').selectbox
                                                                        each val in area
                                                                            option(value=val) #{val}
                                                            .l-column-3
                                                                .w-area-selector
                                                                    .title 市選択
                                                                    select(name='').selectbox
                                                                        option(value='')
                                                            .l-column-3
                                                                .w-area-btn
                                                                    button.c-button.op-alert 削除
                                                    if add == true
                                                        //-追加した場合START
                                                        .w-area-group
                                                            .l-column-select
                                                                .l-column-3
                                                                    .w-area-selector
                                                                        .title 都道府県選択
                                                                        select(name='').selectbox
                                                                            each val in area
                                                                                option(value=val) #{val}
                                                                .l-column-3
                                                                    .w-area-selector
                                                                        .title 市選択
                                                                        select(name='').selectbox
                                                                            option(value='')
                                                                .l-column-3
                                                                    .w-area-btn
                                                                        button.c-button.op-alert 削除
                                                        //-追加した場合END

                                                    .w-add-btn
                                                        .c-button 追加

                                        +area-select-layout-form-area('北海道・東北',["北海道", "青森", "秋田", "山形", "岩手", "宮城", "福島"],true,'js-hokkaido-tohoku')
                                        +area-select-layout-form-area('関東',["東京", "神奈川", "埼玉", "千葉", "栃木", "宮城", "群馬"],'','js-kanto')
                                        +area-select-layout-form-area('中部',["愛知", "静岡", "岐阜", "三重", "新潟", "山梨", "長野", "石川", "富山", "福井"],'','js-chubu')
                                        +area-select-layout-form-area('関西',["大阪", "兵庫", "京都", "滋賀", "奈良", "和歌山"],'','js-kansai')
                                        +area-select-layout-form-area('中国・四国',["岡山", "広島", "鳥取", "山口", "香川", "徳島", "愛媛", "高知"],'','js-chugoku-shikoku')
                                        +area-select-layout-form-area('九州・沖縄',["福岡", "佐賀", "長崎", "熊本", "大分", "宮城", "鹿児島", "沖縄"],'','js-kyusyu-okinawa')


                                .w-contents-submit
                                    .w-button
                                        button.c-button.op-long 保存
                            //.w-contents
            +footer--company()



        script.
            $(function () {
                //エリア選択の切り替え
                $('.js-tab-area-select').on('click', function () {
                    $element = $(this);
                    selector = $element.data('selector');

                    console.log($(selector));
                    if(selector == '.js-all'){
                        //全地域の表示
                        $('.js-tab-area-select-item').fadeIn(800);//クリックした対象のセレクターのものを表示
                        $('.js-tab-area-select').removeClass('op-disable');
                    }else {
                        //個別の地域の表示
                        $('.js-tab-area-select-item').hide();//対象のすべてのアイテム非表示
                        $(selector).fadeIn(800);//クリックした対象のセレクターのものを表示
                        $('.js-tab-area-select').addClass('op-disable');
                        $element.removeClass('op-disable');
                    }

                });
            })
